<h1>Résultat</h1>

<p>Votre mot : <strong><%= params[:word] %></strong></p>
<p>Lettres proposées : <%= params[:letters] %></p>

<hr>

<p>Est-ce un mot valide ? À nous de coder la logique !</p>

<%= link_to "Rejouer", new_path %>
